.iconify-field--icon-preview {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  padding-block: 0.5rem;
}

.iconify-field--icon-preview > .iconify-field {
  border-radius: 0.5rem;
  border: 2px solid #ccc;
  flex-shrink: 0;
  height: 2rem;
  overflow: hidden;
  padding: 2px;
  width: 2rem;
}

.iconify-field--input:placeholder-shown
  ~ .iconify-field--action-wrapper
  .iconify-field--icon-clear {
  display: none;
}

.iconify-field--action-wrapper > .button.button--small {
  margin-block-end: 0;
}
