.ck-editor__main .iconify-field > .iconify-field--icon {
  background-color: currentColor;
  display: inline-block;
  height: 1em;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  vertical-align: -0.125rem;
  width: 1em;
}
