{{ attach_library('iconify_field/icon-picker') }}

<div id="iconify-field--app"></div>

{% if dev_mode %}
	<script type="module" src="http://localhost:5173/@vite/client"></script>
	<script type="module" src="http://localhost:5173/src/main.ts"></script>
{% endif %}
