{% set modal_path = path('iconify_field.icon_picker', {
  selector: attributes['data-drupal-selector'],
	default_collection: element['#default_collection'],
	collections: element['#collections']|join(','),
}) %}

{% set value = element['#default_value'] ? element['#default_value'] : NULL %}

<div{{attributes.addClass('iconify-field--wrapper')}}>
	<input class="iconify-field--input hidden" placeholder=" " name="{{ element['#name'] }}" value="{{ element['#default_value'] }}"/>

	<div class="iconify-field--icon-preview">
		{{ iconify_field(value) }}
		<span class="iconify-field--icon-label">{{ value ?? 'No icon selected'|t }}</span>
	</div>

	<div class="iconify-field--action-wrapper">
		<a class="button button--small use-ajax iconify-field--icon-picker" href="{{ modal_path }}" data-dialog-type="modal" data-dialog-options='{"height": 600, "width": 800}'>
			{{ 'Pick an icon'|t }}
		</a>

		<a class="button button--small button--danger iconify-field--icon-clear" href="#">
			{{ 'Clear icon'|t }}
		</a>
	</div>

	{% if element['advanced'] is not null %}
		{{ element['advanced'] }}
	{% endif %}
</div>
